equipmentDB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="folder" type="folderType" />
    <xs:complexType name="folderType">
        <xs:sequence>
            <xs:element name="files" type="filesType" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="filesType">
        <xs:sequence>
            <xs:element name="fileList" type="fileListType" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fileListType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="file" type="fileType" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fileType">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="fileAlias" type="fileAliasType" minOccurs="0">
                <xs:unique name="alias_unique">
                    <xs:selector xpath="alias"/>
                    <xs:field xpath="@id"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="type" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="fileAliasType">
        <xs:sequence>
            <xs:element name="alias" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="id" type="xs:string" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>